body{
    background-color: lightpink;
}

#tartalom{
    max-width: 80%;
    background-color: palevioletred;
    margin: auto;
    color: black;
}

h1{
    text-align: center;
}

hr{
    width: 80%;
}

li{
    padding-top: 35px;
}

#jobb{
    background-color: white;
    color: black;
    font-weight: bold;
    padding:20px;
}

#jobbo{
    width: 50%;
}

